<nav class="navbar">
  <div class="logo" routerLink="/">🌍 Trade Assistant</div>

  <!-- Сендвич копче -->
  <div class="menu-icon" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Линкови -->
  <ul class="nav-links" [class.active]="isMenuOpen">
    <li><a routerLink="/" (click)="toggleMenu()">Почетна</a></li>
    <li><a routerLink="/about" (click)="toggleMenu()">За нас</a></li>
    <li><a routerLink="/services" (click)="toggleMenu()">Наши услуги</a></li>
    <li><a routerLink="/contact" (click)="toggleMenu()">Контакт</a></li>

    <ng-container *ngIf="!auth.isLoggedIn(); else loggedIn">
      <li><a routerLink="/auth/login" (click)="toggleMenu()">Најава</a></li>
    </ng-container>

    <ng-template #loggedIn>
      <li><a routerLink="/dashboard" (click)="toggleMenu()">Уредник</a></li>
      <li><a (click)="logout()">Одјави се</a></li>
    </ng-template>
  </ul>
</nav>
