:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* целата висина на екранот */
}

app-navbar {
  flex-shrink: 0; /* не дозволува navbar-от да се стеснува */
}

router-outlet {
  flex: 0 1 auto; /* ја пополнува преостанатата висина */
  display: block; /* важно за правилно прикажување */
}

app-footer {
  flex-shrink: 0;
  margin-top: auto; /* го бутка футерот долу */
}
