<button (click)="logout()">Logout</button>

<div class="add-news-form">
  <h3>Додај Вест</h3>
  <input [(ngModel)]="newNews.title" placeholder="Наслов" />
  <textarea [(ngModel)]="newNews.content" placeholder="Содржина"></textarea>
  <input [(ngModel)]="newNews.author" placeholder="Автор" />
  <input [(ngModel)]="newNews.publishDate" type="date" placeholder="Датум" />
  <input [(ngModel)]="newNews.category" placeholder="Категорија" />
  <button (click)="addNews()">Додај</button>
  <p>{{ message }}</p>
</div>

<hr />

<div class="news-list">
  <h3>Листа на Вести</h3>
  <div *ngFor="let news of newsList">
    <h4>{{ news.title }}</h4>
    <p>{{ news.content }}</p>
    <p>Автор: {{ news.author }} | Датум: {{ news.publishDate | date }}</p>
    <button *ngIf="news.id !== undefined" (click)="deleteNews(news.id!)">Избриши</button>
  </div>
</div>
